.makeAcronym {
    height: 100vh;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  }
  
  .makeAcronym h1 {
    font-size: 5vw;
    margin: 0;
    padding: 2vw;
  }
  
  .makeAcronym .user-input {
    height: 1.5vw;
    width: 30vw;
    margin: 2vw 1vw 1vw auto;
  }
  
  .makeAcronym button {
    background-color: #000000;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    padding: 1vw;
    margin-bottom: 2vw;
    color: white;
    font-size: 1.5vw;
  }
  
  .makeAcronym .spelling p {
    font-size: 5vw;
  }
  