.lmgtfy html, body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.lmgtfy h1 {
    font-size: 5vw;
}

.lmgtfy .user-input {
    height: 1.5vw;
    width: 30vw;
    margin: 2vw 1vw 10vw auto;
}

.lmgtfy a {
    font-size: 8vw;
    text-decoration: none;
}

.lmgtfy button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}