.lecture-page-main-container {
    background-color: #708cdf;
    background-image: linear-gradient(240deg, #22c1c3 0%, #fdbb2d 100%);
    height: 100vh;
}

.wag-button {
    width: 300px;
    font-size: large;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.wag-button:hover {
    opacity: 0.6;
    transition: 1s;
}

.red {
    background-color: #EA5555;
}

.green {
    background-color: #6EB35E;
}