.lecture-page-main-container {
    background-color: #4791db;
    height: 100vh;
}

.wag-button {
    width: 300px;
    /* margin: auto; */
    font-size: large;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.wag-button:hover {
    opacity: 0.6;
    transition: 1s;
}

.red {
    background-color: #EA5555;
}

.green {
    background-color: #6EB35E;
}