.ducky {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  height: 100vh;  
}

.ducky img {
  padding: 10vw 1vw 1vw 8vw;
  width: 45vw;
  float: left;
}

.ducky .message {
  height: 50vh;
  padding: 3vw;
}

.ducky button {
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  padding: 1vw;
  margin-bottom: 2vw;
  color: white;
  cursor: pointer;
}

.ducky .start-debug {
  background-color: green;
}

.ducky .stop-debug {
  background-color: red;
}

.ducky .speech-bubble {
  position: relative;
  background: rgb(230, 253, 255);
  border-radius: 0.4em;
  width: 40vw;
  float: right;
  margin-top: 5vw;
  margin-right: 5vw;
  min-height: 50vh;
}

.ducky .speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: rgb(230, 253, 255);
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
